{
    admin off
    auto_https off
    persist_config off
}

:8080 {
    root * /srv
    encode zstd gzip
    header Cache-Control "no-store"
    file_server
    handle_errors {
        rewrite * /404.html
        file_server
    }
}
